USE [master]
GO
/****** Object:  Database [WindbgScripts]    Script Date: 02-04-2014 23:31:08 ******/
CREATE DATABASE [WindbgScripts]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WindbgScripts', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\WindbgScripts.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'WindbgScripts_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\WindbgScripts_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WindbgScripts].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WindbgScripts]
GO
/****** Object:  Table [dbo].[ScriptData]    Script Date: 02-04-2014 23:31:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScriptData](
	[SID] [int] IDENTITY(1,1) NOT NULL,
	[ScriptID] [int] NOT NULL,
	[SVersion] [decimal](18, 2) NOT NULL,
	[SData] [nvarchar](max) NOT NULL,
	[DateCreated] [datetime] NULL,
	[DateUpdate] [datetime] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Scripts]    Script Date: 02-04-2014 23:31:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Scripts](
	[ScriptID] [int] IDENTITY(1,1) NOT NULL,
	[SName] [nvarchar](50) NOT NULL,
	[SAuthor] [nvarchar](50) NOT NULL,
	[SType] [int] NOT NULL,
	[DateCreated] [datetime] NULL,
	[DateUpdated] [datetime] NULL,
 CONSTRAINT [PK_Scripts] PRIMARY KEY CLUSTERED 
(
	[ScriptID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ScriptType]    Script Date: 02-04-2014 23:31:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScriptType](
	[STypeID] [int] NOT NULL,
	[SType] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_ScriptType] PRIMARY KEY CLUSTERED 
(
	[STypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Scripts]  WITH CHECK ADD  CONSTRAINT [FK_Scripts_ScriptType] FOREIGN KEY([ScriptID])
REFERENCES [dbo].[ScriptType] ([STypeID])
GO
ALTER TABLE [dbo].[Scripts] CHECK CONSTRAINT [FK_Scripts_ScriptType]
GO
ALTER TABLE [dbo].[ScriptType]  WITH CHECK ADD  CONSTRAINT [FK_ScriptType_ScriptType] FOREIGN KEY([STypeID])
REFERENCES [dbo].[ScriptType] ([STypeID])
GO
ALTER TABLE [dbo].[ScriptType] CHECK CONSTRAINT [FK_ScriptType_ScriptType]
GO
USE [master]
GO
